/****************** for 1000px or less ******************/
@media (max-width:1000px) {

	/*************** Header, menu and shadow responsiveness *************/
	.wrapper {
		width: 100%;
	}

	.custom_front {
		margin-left: 3px;
		text-align: center;
	}

	.custom_mid_texts {
		text-align: left;
	}

	.custom_info {
		text-align: left;
	}

	header {
		width: 100%;
	}

	.box-shadow {
		width: 100%;
		-webkit-box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.42);
		-moz-box-shadow:    0px 3px 5px 0px rgba(50, 50, 50, 0.42);
		box-shadow:         0px 3px 5px 0px rgba(50, 50, 50, 0.42);
  }

	.box-shadow:before {
		box-shadow: none;
	}

	.box-shadow:after {
		box-shadow: none;
	}

	.custom_image img {
		border: 1px solid #D1D1D1;
		width: 100%;
		height: auto;
	}

}

/****************** for 967px or less ******************/
@media (max-width:967px) {

	.custom_front {
		border: 0;
		height: 100%;
	}

	.front_lower_container {
		margin-top: 0;
	}

	.lower_info_section {
		width: 40%;
	}

	.lower_info_section:nth-of-type(1) {
		display: none;
	}

	.lower_mid_section {
		border-left: 0;
		border-right: 0;
	}

	.content_area_custom {
		background-color: #fff;
		border-bottom: #D1D1D1;
		margin-top: 0;
	}

	.custom_info {
		width: 100%;
		text-align: center;
		border-bottom: 1px solid #D1D1D1;
		border-top: 1px solid #D1D1D1;
	}

	.custom_info_section {
		display: inline-block;
	}

	.custom_info p {
		display: inline-block;
	}

	.facebook_link, .googleplus_link, .linkedin_link, .twitter_link {
		vertical-align: middle;
	}

	.custom_image {
		padding: 20px;
		margin-right: 40px;
	}

	.custom_cv_link {
		display: none;
	}

}

/****************** for 733px or less ******************/
@media (max-width:733px) {

	.custom_image {
		display: block;
		margin-top: 20px;
		margin-right: auto;
		margin-left: auto;
		width: 52%;
		height: auto;
		margin-bottom: 15px;
	}

	.custom_mid_texts {
		display: block;
		width: 75%;
		margin-right: auto;
		margin-left: auto;

	}

	.custom_info {
		margin-top: 0;
	}

}

/****************** for 680px or less ******************/
@media (max-width: 680px) {

	.content_area {
		display: block;
		text-align: center;
	}

	.right_widget_area {
		float: none;
	}

	.projects_container {
		height: 100%;
	}

	.project_portfolio_thumb {
		display: block;
		width: 80%;
		margin-left: auto;
		margin-right: auto;
	}

	.wpcf7.wpcf7 {
		float: none;
		margin-right: 0;
	}

}

/****************** for 585px or less ******************/
@media (max-width:585px) {
	.header_widget h1 {
		display: block;
		margin-top: -4px;
		font-size: 33px;
	}

	.header_widget .textwidget p {
		margin-left: 0;
	}

	.header_widget {
		text-align: center;
	}
}

/****************** for 535px or less ******************/
@media (max-width:535px) {

	.custom_mid_texts {
		width: 100%;
	}

	.custom_info_section {
		display: block;
	}

	.lower_info_section {
		display: block;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
	}

	/******** cv page styling ********/

	.custom_cv_image {
		display: none;
	}

	.custom_cv_contactinfo {
		width: 100%;
		text-align: center;
		margin-left: 0;
	}

	.content_area_cv {
		display: block;
	}

	.custom_cv {
		width: 100%;
	}

	.right_widget_area {
		width: 100%;
	}

}

/****************** for 360px or less ******************/
@media (max-width:360px) {

	input, textarea {
		width: 100%;
	}

	.header_widget h1 {
		font-size: 20px;
	}

	.single_project_div {
		width: 100%;
	}

}

/* Temp code here

	****************** for 888px or less ******************
 @ media (max-width:888px) {

	}
*/